﻿@{
    ViewData["Title"] = "Category Add";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@model E_Commerce_Website.Areas.Category.Models.CategoryModel

<h3>Category Add/Edit</h3>

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" method="post" asp-area="Category" asp-controller="Category" asp-action="CategorySave">
                @Html.HiddenFor(x=>x.CategoryID)
                <div class="form-group">
                    <label>Category Name</label>
                    <input type="text" class="form-control" placeholder="Enter Category Name" asp-for="CategoryName">
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Category Description</label>
                    <input type="text" class="form-control" placeholder="Enter Category Description" asp-for="CategoryDescription">
                    <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button asp-area="Category" asp-controller="Category" asp-action="Category_List" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>